<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>升级浏览器</title>
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <i class="img"></i>
      <p class="content-text">为了得到我们网站最好的体验效果，我们建议您使用现代的web浏览器</p>
      <p class="content-text">现代的web浏览器在下方中可以找到</p>
      <ul class="content-ul">
        <li class="content-li">
          <a class="content-li-a" href="https://www.google.com/chrome/" target="_blank">
            <i class="content-li-logo content-li-logo__chrome"></i>
            <p class="content-li-logo-name">Chrome</p>
          </a>
        </li>
        <li class="content-li">
          <a class="content-li-a" href="https://ie.sogou.com/" target="_blank">
            <i class="content-li-logo content-li-logo__sougou"></i>
            <p class="content-li-logo-name">搜狗浏览器</p>
          </a>
        </li>
        <li class="content-li">
          <a class="content-li-a" href="https://browser.qq.com/" target="_blank">
            <i class="content-li-logo content-li-logo__qq"></i>
            <p class="content-li-logo-name">QQ浏览器</p>
          </a>
        </li>
        <li class="content-li">
          <a class="content-li-a" href="https://browser.360.cn/se/" target="_blank">
            <i class="content-li-logo content-li-logo__360"></i>
            <p class="content-li-logo-name">360浏览器</p>
          </a>
        </li>
        <li class="content-li">
          <a class="content-li-a" href="http://www.maxthon.cn/" target="_blank">
            <i class="content-li-logo content-li-logo__maxthon"></i>
            <p class="content-li-logo-name">遨游浏览器</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>